table {
    border-collapse: collapse;
    border: solid 1px black;
}
td, th {
    border: solid 1px black;
}
table th {
    background-color: darkred;
    color: white;
    width: 5em;
    font-size: large;
}

table tr {
    background-color: salmon;
    text-align: center;
}